<div class="row space-bottom">
    <div class="col-md-4">
        <h3>Suspects</h3>
        <cards-type
            cards="cards"
            filter="{type: 'suspects', name: '!null'}"
            order-by="name"
            type="suspects"
            view-data="viewData"
            type-view="typeView"
            ></cards-type>
    </div>
    <div class="col-md-4">
        <h3>Weapons</h3>
        <cards-type
            cards="cards"
            filter="{type: 'weapons', name: '!null'}"
            order-by="name"
            type="weapons"
            view-data="viewData"
            type-view="typeView"
            ></cards-type>
    </div>
    <div class="col-md-4">
        <h3>Rooms</h3>
        <cards-type
            cards="cards"
            filter="{type: 'rooms', name: '!null'}"
            order-by="name"
            type="rooms"
            view-data="viewData"
            type-view="typeView"
            ></cards-type>
    </div>
</div>